/* 레이아웃 */
body {
  background-color: #eae8fe;
}
.wrapper {
  max-width: 748px;
  margin: 0 auto 171px;
}

/* 컴포넌트 */

/* 공통 스타일 */
.cont-controller *,
.section-money *,
.section-mybeverage * {
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}
.cont-selected {
  height: 106px;
  background-color: #eae8fe;
  padding: 12px 0;
  overflow: auto;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.screen-out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 헤더 */

.header {
  margin-bottom: 68px;
  text-align: center;
}
.header .img-logo {
  width: 386px;
  height: 180px;
}

/* 선택한 음료 종류 2가지 이상 시 스크롤바 여백 */
.cont-selected::-webkit-scrollbar {
  width: 12px;
}
.cont-selected::-webkit-scrollbar-thumb {
  background-color: white;
  background-clip: padding-box;
  border-radius: 20px;
  border: 4px solid transparent;
}
.cont-selected::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 선택한 음료 */
.cont-selected {
  height: 106px;
  background-color: #eae8fe;
  padding: 12px;
  overflow: auto;
  border: 1px solid #bdbdbd;
}
.cont-selected .list-selected {
  margin: 0 auto;
}
.list-selected .list-item-selected {
  background-color: #fff;
  height: 46px;
  padding: 7px 10px;
  font-size: 9px;
}
.list-item-selected + .list-item-selected {
  margin-top: 6px;
}
.list-item-selected img {
  width: 18px;
  height: 33px;
  vertical-align: middle;
  margin-right: 10px;
}
.list-item-selected .item-count {
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #bdbdbd;
}

/* 컨텐츠 */
.section-white {
  background-color: #fff;
}
.main-contents {
  display: flex;
  align-items: stretch;
}
.main-contents .section-vending,
.main-contents .section-right {
  width: 360px;
}
.main-contents .section-vending {
  margin-right: auto;
  padding: 24px 27px;
}

/* 자판기 음료 리스트 */
.section-vending .list-beverages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 20px;
}
.list-beverages .list-item-beverage {
  height: 130px;
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  transition: all 0.1s;
  position: relative;
  overflow: hidden;
}
.list-beverages .list-item-beverage:hover {
  outline: 3px solid #6327fe;
}
.list-beverages .list-item-beverage.soldout:hover {
  outline: none;
}
.list-item-beverage .btn-beverage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 9px;
  color: #333;
  text-align: center;
  border-radius: inherit;
}
.btn-beverage .img-beverage {
  width: 36px;
  height: 65px;
  margin-bottom: 6px;
}
.list-item-beverage .txt-price {
  display: inline-block;
  width: 70px;
  height: 22px;
  background-color: #6327fe;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-top: 7px;
  padding: 5px 0;
  color: #fff;
}

/* 품절 */
.list-item-beverage .bg-soldout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.bg-soldout .img-soldout {
  position: absolute;
  width: 58px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 52px auto 35px;
}

/* 자판기 컨트롤러*/
/* 자판기 컨트롤러 내 버튼 공통 스타일 */
button {
  box-shadow: 0 0 4px rgb(0, 0, 0, 0.5);
  border: none;
  background-color: #fff;
  height: 33px;
  cursor: pointer;
}
.section-vending .cont-controller {
  display: grid;
  grid-template-columns: 200px 94px;
  gap: 12px;
}

/* 잔액 */
.cont-controller .txt-cash {
  background-color: #eae8fe;
  padding: 7px 10px;
}

.txt-cash span {
  float: right;
}

/* 입금액 입력 */
.cont-controller .input-cash {
  border: 1px solid #bdbdbd;
  padding: 6px;
}
.cont-controller .button-complete {
  height: 106px;
  background-color: #6327fe;
  color: #fff;
  font-weight: 700;
}

/* 오른쪽 콘텐츠 */
.section-right {
  font-size: 14px;
  font-weight: 500;
}
/* 소지금 */
.section-right .section-money {
  padding: 9px 27px;
  margin-bottom: 13px;
}
.section-money .txt-mycash {
  border-radius: 5px;
  background-color: #eae8fe;
  padding: 7px 10px;
}
.txt-mycash span {
  float: right;
  font-weight: 700;
}

/* 획득한 음료 */
.section-right .section-mybeverage {
  padding: 28px 27px;
}
.section-mybeverage .tit-mybeverage {
  font-weight: 700;
  text-align: center;
  margin-bottom: 13px;
}
.section-mybeverage .cont-mybeverage {
  margin-bottom: 6px;
  height: 364px;
}
.section-mybeverage .txt-total {
  text-align: right;
  font-size: 12px;
  line-height: 17px;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #fff;
  }
  .header {
    margin-bottom: 18px;
  }
  .header .img-logo {
    width: 166px;
    height: 78px;
  }
  .main-contents {
    flex-direction: column;
    align-items: center;
  }
  .main-contents .section-vending {
    margin-right: 0;
    padding: 11px 27px;
  }
  .section-right .section-money {
    margin-bottom: 0;
  }
}
